@using System.Diagnostics.Eventing.Reader
@using Models
@model List<Nummer>
@{
    ViewBag.Title = "VoegNummerToe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Request.Params["playlistid"];
    }
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-9">
                    <h3>
                        Nieuwe Nummers
                    </h3>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            @foreach (var nummer in Model)
                            {
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo">
                                            <img src="@Url.Content(nummer.CoverURL)" class="img-responsive" alt="a" />
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price col-md-6">
                                                    <p>
                                                        @nummer.Naam <br />
                                                        @nummer.Jaar <br />
                                                        @Html.ActionLink("Voeg nummer toe", "AddNummerToPlaylist", new { nummerid = nummer.NummerID, playlistid = id, controller = "Nummer" })

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




